  @import 'fonts.scss';
  @import 'mixin.scss';

  // @include mq(xxl) {}
  // @include mq(xl) {}
  // @include mq(lg) {}
  // @include mq(md) {}
  // @include mq(sm) {}
  .wrapper-content {
     overflow-x: hidden;
     min-height: 100vh;
  }

  .hero {
     padding-top: 25px;
     position: relative;
     height: 480px;
     background-image: url(../images/hero-background.png);
     background-repeat: no-repeat;
     background-size: cover;

     &__content {}


     &__content {
        padding-top: 96px;

     }

     &__content-body {
        max-width: 1154px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
     }

     &__content-blocks {
        position: relative;
        height: 598px;
        display: flex;
        align-items: flex-end;
     }

     &__desc {
        max-width: 569px;
        width: 100%;
        align-self: flex-end;
     }

     &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: var(--fw-700);
        font-size: var(--text-94);
        line-height: var(--lh-108);
        color: var(--gray-1000);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(96.46deg, #C87C00 3.72%, #8B3208 31.05%, rgba(83, 32, 15, 0.82) 68.54%, #010420 100%);
        margin-bottom: 20px;
     }


     &__text {
        max-width: 490px;
        width: 100%;
        font-family: 'Inter', sans-serif;
        font-weight: var(--fw-400);
        font-size: var(--text-16);
        line-height: var(--lh-30);
        color: var(--gray-800);
        margin-bottom: 40px;
     }

     &__btn {}

     &__btn-arrow {
        width: 16px;
        height: 16px;
        margin-left: 16px;
     }

     &__user-blocks {
        position: absolute;
        top: 0;
        right: -25%;

     }


  }

  .user {
     display: grid;
     grid-template-columns: 1fr auto;
     grid-auto-rows: 24ch 32ch;
     grid-column-gap: 22px;
     height: 598px;


     &__main-block {
        max-width: 188px;
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(40px);
        border-radius: 8px;
        padding: 31px 16px 17px;
        margin-bottom: 24px;
        justify-self: end;
        align-self: start;
        margin-right: 20px;
     }

     &__img {
        position: absolute;
        right: -20px;
        top: -15px;
     }

     &__title {
        font-family: 'Inter', sans-serif;
        font-weight: var(--fw-600);
        font-size: var(--text-20);
        line-height: var(--lh-25);
        text-align: center;
        color: var(--white);
        margin-bottom: 27px;
     }

     &__content {
        max-width: 155px;
        width: 100%;
        background: var(--white);
        border-radius: 8px;
        padding: 17px 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     &__content-title {
        font-family: 'Inter', sans-serif;
        font-weight: var(--fw-500);
        font-size: var(--text-14);
        line-height: var(--lh-17);
        color: var(--brown-300);
        margin-bottom: 5px;
     }

     &__content-amount {
        font-family: 'Inter', sans-serif;
        font-weight: var(--fw-700);
        font-size: var(--text-30);
        line-height: var(--lh-36);
        color: var(--red-300);
     }

     &__followwers {
        width: 306px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 34px 0px 47px;
        background-color: var(--white);
        box-shadow: 0px 40px 70px -18px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        align-self: flex-start;
     }


     &__followwers-top {
        margin-bottom: 19px;

     }

     &__followwers-control {}

     &__followwers-amount-box {}

     &__followwers-amount {
        font-family: 'Inter';
        font-weight: var(--fw-500);
        font-size: var(--text-14);
        line-height: var(--lh-22);
        color: #666666FF;
     }

     &__followwers-amount-num {
        font-weight: var(--fw-600);
        font-size: var(--text-22);
        line-height: var(--lh-27);
        color: var(--black-100);
        margin-right: 10px;
     }

     &__followwers-content {
        width: 100%;
        position: relative;
        padding: 0px 27.68px 0px 19.64px;

     }

     &__followwers-progress-block {
        position: relative;

     }

     &__followwers-measurements-list {
        width: 100%;

     }

     &__followwers-measurements-list-item {
        position: relative;
        font-family: 'Inter';
        font-weight: var(--fw-500);
        font-size: var(--text-10);
        line-height: var(--lh-12);
        color: var(--black-100);
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #333333;

        &::after {
           content: '';
           position: absolute;
           width: 100%;
           height: 1px;
           background: #EEF0F2;
           left: 23px;
           bottom: 2px;
        }

        &:not(:last-child) {
           margin-bottom: 44px;
        }
     }

     &__followwers-progress-bars {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 2px;
        left: 0;
        display: flex;
        padding: 0px 36.61px 0px 56.25px;
     }

     &__followwers-progress-bar-w {
        height: 100%;
        width: 6.25px;
        display: flex;
        align-items: flex-end;

        &:not(:last-child) {
           margin-right: 19.65px
        }
     }

     &__followwers-progress-bar {
        width: 100%;
        background-color: var(--blue-700);
        border-radius: 10px 10px 0px 0px;

        &--first {
           height: 43%;
        }

        &--second {
           height: 25%;
        }

        &--third {
           height: 85%;
        }

        &--fourth {
           height: 38%;
        }

        &--fifth {
           height: 43%;
        }

        &--sixth {
           height: 62%;
        }

        &--seventh {
           height: 70%;
        }

        &--eighth {
           height: 40%;
        }

        &--ninth {
           height: 85%;
        }
     }


     &__media-type {
        max-width: 309px;
        width: 100%;
        padding: 32px 23px 55px;
        background: var(--white);
        box-shadow: 0px 28px 60px -12px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        margin-top: 20px;
        align-self: flex-start;
     }

     &__media-type-top {
        margin-bottom: 30px;
     }

     &__media-type-control {}

     &__media-type-content {
        display: flex;
        justify-content: center;
     }

     &__media-type-progress-bar {
        position: relative;
        width: 125px;
     }

     &__media-type-progress-svg {
        position: absolute;
        top: -28px;
        left: -58px;
        width: 220px;
        height: 271px;
     }

     &__media-type-progress-bar-line {
        border: 15.3149px solid #F5F5F5;
        border-radius: 50%;
        width: 147px;
        height: 147px;
        left: 0;
     }

     &__media-type-info-box {
        position: absolute;
        top: 0;
        width: 153px;
        background: #293134;
        border-radius: 6px;
        top: 50%;
        transform: translateY(-50%);
        left: -59px;
        padding: 11px 0px 12px;


        &:before {
           content: '';
           position: absolute;
           border-top: 7px solid #293134;
           border-right: 7px solid transparent;
           border-left: 7px solid transparent;
           left: 50%;
           transform: translateX(-50%);
           bottom: -6px;

        }
     }

     &__media-type-info-text {
        font-family: 'Inter', sans-serif;
        font-weight: var(--fw-500);
        font-size: var(--text-12);
        line-height: var(--lh-16);
        letter-spacing: -0.01em;
        color: var(--white);
        text-align: center;
     }

     &__follower-growth {
        width: 380px;
        padding: 20px 24px 20px 20px;
        align-self: center;
        background: var(--white);
        border: 1.5px solid #EEF0F2;
        border-radius: 8px;
     }

     &__follower-growth-desc {
        display: flex;
     }

     &__follower-growth-amount-box {
        max-width: 104px;
        width: 100%;
        background: #F3F5FA;
        border-radius: 6px;
        padding: 13px 19px 20px;
        display: flex;
        justify-content: center;
        margin-right: 24px;

     }

     &__follower-growth-amount {
        font-weight: var(--fw-600);
        font-size: var(--text-40);
        line-height: var(--lh-48);
        letter-spacing: -0.02em;
        color: #191124;
     }

     &__follower-growth-desc-content {
        padding: 12px 0px;
        width: 100%;
     }

     &__follower-growth-title {
        font-weight: var(--fw-500);
        font-size: var(--text-16);
        line-height: var(--lh-19);
        color: #8A8E97;
        margin-bottom: 15px;
     }

     &__follower-growth-line {
        max-width: 208px;
        width: 100%;
        height: 8px;
        background: #F3F5FA;
        border-radius: 12px;

        &:not(:last-child) {
           margin-bottom: 8px;
        }
     }

  }


  .user-control {
     width: 259px;
     display: flex;
     justify-content: space-between;

     &__start-box {
        display: flex;
        align-items: center;
     }

     &__socicon {
        width: 18px;
        height: 18px;
        margin-right: 10px;
     }

     &__title {}

     &__btn-box {
        display: flex;
        align-items: center;
     }

     &__btn {
        width: 35px;
        height: 35px;
        display: block;
        background-color: transparent;

        &:not(:last-child) {
           margin-right: 6px;
        }
     }
  }

  .btn {}

  .btn--type-demo {}


  .header {
     &__nav {}

     &__inner {
        max-width: 1154px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
     }

     &__menu {}

     &__nav-list {
        display: flex;

     }

     &__nav-list-item {
        &:not(:last-child) {
           margin-right: 35px;
        }
     }

     &__nav-item-link {
        font-family: 'Inter', sans-serif;
        font-weight: var(--fw-500);
        font-size: var(--text-16);
        line-height: var(--lh-19);
        color: var(--white);
        opacity: 0.94;
     }

     &__btn {}
  }




  .btn {
     font-family: 'Inter', sans-serif;
     font-weight: var(--fw-500);
     font-size: var(--text-15);
     line-height: var(--lh-18);
     text-align: center;
     color: var(--white-100);

     &--type-demon {
        max-width: 154px;
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(35px);
        border-radius: 21px;
        padding: 12px 0px;

     }

     &--type-demo {
        max-width: 202px;
        width: 100%;
        padding: 12px 0px;
        background: var(--gray-900);
        border-radius: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
     }

  }

  .logo {
     font-family: 'Lekton', sans-serif;
     font-weight: var(--fw-700);
     font-size: var(--text-35);
     line-height: 35px;

     &--color-white {
        color: var(--white);
     }
  }

  .nav {

     &__list {}

     &__list-item {}

     &__item-link {}
  }

  .main {}

  .clients {
     padding: 396px 0px 42px;

     &__inner {
        max-width: 1174px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
     }

     &__title {
        font-family: 'Lato', sans-serif;
        font-weight: var(--fw-700);
        font-size: var(--text-16);
        line-height: var(--lh-19);
        text-align: center;
        color: #B2B7BE;
        margin-bottom: 65px;


     }

     &__row {
        width: 100%;
     }

     &__nav {
        width: 100%;
     }

     &__nav-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
     }

     &__nav-list-item {}

     &__nav-item-link {
        color: #B3B7BC;

     }

     &__list-item-logo {}
  }

  .feature {
     padding: 82px 0px 127px;

     &__inner {
        max-width: 829px;
        width: 100%;
        margin: 0 auto;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     &__top {
        margin-bottom: 85px;
     }

     &__content {
        width: 100%;
     }

     &__content-top {
        width: 100%;
        display: flex;
        justify-content: center;
     }

     &__content-block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--top {
           max-width: 721px;
           width: 100%;
        }

        &--middle {
           width: 100%;
           display: flex;
           flex-direction: row-reverse;
        }
     }


  }

  .about-block {
     max-width: 551px;
     width: 100%;

     &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: var(--fw-600);
        font-size: var(--text-40);
        line-height: var(--lh-60);
        text-align: center;
        color: #1F1F26;
        margin-bottom: 10px;
     }

     &__text {
        font-weight: var(--fw-400);
        font-size: var(--text-16);
        line-height: var(--lh-28);
        text-align: center;
        letter-spacing: 0.01em;
        color: #426666;
     }
  }

  .feature-block {
     &__desc {
        max-width: 352px;
        width: 100%;
     }

     &__overhead {
        font-weight: var(--fw-600);
        font-size: var(--text-14);
        line-height: var(--lh-18);
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin-bottom: 8px;

        &--color-violet {
           color: #B33CDB;
        }

        &--color-yellow {

           color: #FBBA33;
        }
     }

     &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: var(--fw-600);
        font-size: var(--text-30);
        line-height: var(--lh-40);
        color: #1F1F26;
        margin-bottom: 14px;
     }

     &__text {
        font-weight: var(--fw-400);
        font-size: var(--text-16);
        line-height: var(--lh-28);
        letter-spacing: 0.01em;
        color: #426666;
        margin-bottom: 30px;
     }

     &__card {
        max-width: 240px;
        width: 100%;
        padding: 6px 21px 20px;
     }

     &__card-top {
        margin-bottom: 21px;
        display: flex;
     }

     &__card-top-img {
        margin-right: 16px;
     }

     &__card-top-content {}

     &__card-top-hidden-item {
        border-radius: 7px;
        background: #F3F4F9;

        &:first-child {
           width: 64px;
           height: 7px;
           margin-bottom: 12.4px;
           background: #E0E0E6;

        }

        &:nth-child(2) {
           width: 120px;
           height: 6px;
           margin-bottom: 6px;
        }

        &:last-child {
           width: 94px;
           height: 5px;

        }

     }

     &__card-img {
        margin-bottom: 19px;
     }

     &__card-likes {
        display: flex;

     }

     &__card-favorite-icon {
        margin-right: 6px;
     }

     &__card-likes-text {
        font-weight: var(--fw-500);
        font-size: var(--text-14);
        line-height: var(--lh-16);
        color: rgba(102, 102, 102, 1);

        &--strong {
           font-weight: var(--fw-500);
           font-size: var(--text-20);
           line-height: var(--lh-24);
           color: rgba(23, 23, 23, 1);
           margin-right: 3px;
        }
     }

     &__images {
        max-width: 293px;
        width: 100%;
        height: 283px;
        background-image: url(../images/happy.svg);
        background-repeat: no-repeat;
        position: relative;
        background-size: 92px 92px;
        background-position: center 55%;
     }

     &__images-img {
        position: absolute;

        &--top {
           top: 0;
           left: 50%;
           transform: translateX(-50%);
        }

        &--right {
           right: 0;
           top: 75px;
        }

        &--left {
           left: 0;
           top: 72px;
        }

        &--bottomright {
           right: 0;
           bottom: 5.46px;
        }

        &--bottomleft {
           bottom: 5.08px;
           left: 0;
        }


     }

     &__images-img--top {
        top: 0;
     }

     &__progress {
        max-width: 268px;
        width: 100%;
        padding: 30px 40.49px 24.37px 40.08px;
     }

     &__progress-title {
        font-weight: var(--fw-400);
        font-size: var(--text-13);
        line-height: var(--lh-16);
        text-align: center;
        color: #7C89A9;
        margin-bottom: 26.31px;
     }

     &__progress-bars {
        position: relative;
     }

     &__progress-line {
        position: absolute;
        border: 5.93856px solid #F0F3F9;
        border-radius: 50%;
        background-color: transparent;

        &--big {
           width: 161.08px;
           height: 161.08px;
        }

        &--middle {
           width: 110.61px;
           height: 110.61px;

        }

     }

     &__progress-bar {
        position: absolute;
        border-radius: inherit;
        top: -6px;
        left: -7px;
     }

     &__progress-socials-list {}

     &__progress-socials-list-item {}
  }

  .btn-learn-more {
     color: #42424A;
     display: flex;
     align-items: center;

     &__name {
        font-weight: var(--fw-500);
        font-size: var(--text-15);
        line-height: var(--lh-18);
        text-align: center;
        margin-right: 12px;
     }

     &__icon {}
  }